body{
    background-color:snow; 
}
header{
    background: #fff;
    height: 75px;
    width: 1000px;;
    margin-top: -8px;
    margin-left: 145px;
    border-radius:5pt;
    position: absolute;
}

header {
color: rgb(0, 0, 0);
}

.text-headers{
    color:#000000;
    margin-left: 200px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.logo{
    position: absolute;
    float: left;
    width: 150px;
    height: 85px;
    margin-left: 4px;
    margin-top:-62px;
    border-radius: 2ch;
    box-shadow: 0 4px 6px 0 rgba(145, 139, 139, 0.801), 0 6px 20px 0 rgba(255, 250, 250, 0.19); ;
}
.gambar{
    position:relative;
    width: 150px;
    height: 90px;
    border-radius: 10%;
}
.icon-headers{
    position: absolute;
    top: 50px;
    transform : translateX(-80px);
    width: 100%;  
}
.tombnotif{
    display : inline-block;
    margin-left: 700px;
    position: absolute;
    color:#000000;
}
.tombnotif:hover{
    color: #2980b9;
}
@media screen and (max-width: 500px) {
    .icon-header {
    float: none;
    display: block;
    }
}

/* Sidebar */
.sidebar{
    position:absolute;
    float:left;
    top: 0px;
    left: -5%;
    margin:0 auto;
    width: 100px;
    height: 200%;
    background-color:#cedfff;
    padding: 5% ; 
    border-radius: 0pt;
    border-right: 1px solid lightgrey;
 
}

.sidebar ul{
    padding:5px;
    margin:0;
    margin-top: 25px;
    left: -20%;
    width: 50px;
    list-style-type: none;
    border-bottom:1px solid #f5edf0;
}
.sidebar li a{
    display:inline-flex;
    text-align: center;
    margin-top: -20%;
    width: 100px;
    font-family: 'Times New Roman', cursive;
    font-size: 18px;
    padding: 20px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.sidebar li a:hover{
    background-color: rgb(5, 75, 116);
    color:rgb(238, 235, 235);
}
@media screen and (max-width: 500px) {
    .sidebar li a {
      float: none;
      display: block;
    }
}
.search input[type=text] {
    padding: 7px 20px;
    
    font-size: 17px;
    border: 1px solid grey;
    margin-left: 80%;
    margin-top: -12px;
    width: 10%;
    border-radius: 15ch;
    background: #f1f1f1;
    position: absolute;
}
.search button {
    position:sticky;
    width: 5%;
    padding: 7px 15px;
    border-radius: 15ch;
    background:rgb(5, 75, 116);
    color: white;
    font-size: 17px;
    margin-left: 90%;
    margin-top: -20px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;

}
.search button :hover {
    background-color: rgb(12, 102, 155);
    color:#fff;
}

.search::after {
    content: "";
    clear: both;
    display: table;
  }
/* .container input{
    position: absolute;
    padding: 80px 100px;
    margin-top: 50px;
    text-align: center;
    margin-left: -120px;
    font-size: 17px;
    width: 20%;
    background:solid rgba(54, 57, 59, 0.2);
    box-shadow: 0 4px 8px 0 rgba(145, 139, 139, 0.801), 0 6px 20px 0 rgba(255, 250, 250, 0.19); ;  
} */


/* Dropdown Button */
/* Dropdown Button */
